body {
    background-color: #2d3449;
    font-family: 'Karla', sans-serif;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Markazi Text', serif;
    letter-spacing: 2px;;
}

h1 {
    font-size: 4rem;
    margin-top: 1.5rem;
    margin-bottom: 0;
}

h2 {
    font-size: 2.5rem;
    color: #6a7aa4;
    margin:1rem 0;
}

p, ul{
    font-size: 1.25rem;;
}

a {
    color: #404b69;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}

nav {
    background-color: #404b69;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-bottom: 0px;
}

nav ul {
    list-style: none;
    font-size: 1.5rem;
    text-align: center;
    padding-inline-start: 0rem;
    margin-bottom: 0px;
}

nav ul li {
    display: inline-block;
    margin: 0.5rem;
}

nav ul a {
    color: #ffffff;
    text-decoration: none;
}

nav ul a:hover {
    text-decoration-thickness: 0.1rem;
    text-shadow: 1px 1px 4px  #6a7aa4;
}

section {
    display: flex;
    gap: 2rem 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    flex-direction: row;
}

article {
    flex:1;
}

article img {
    max-width: 100%;
}

article ul {
    list-style: none;
}

main article {
    border: 1px solid #2d3449;
    padding-left: 1rem;
    padding-right: 1rem;
}

footer {
    padding: 1rem;
    display: flex;
    gap: 2rem 1rem;
}

footer img {
    max-width: 50%;
}

footer p {
    border-top:  #6a7aa4;
    border-style: solid;
    border-width: 0.1rem;
    border-bottom: none;
    border-left: none;
    border-right: none;
    text-align: right;
    padding-top: 1rem;;
}