{% extends 'base.html' %}

{% block content %}
<section>
    <article id="bio">
        <h2>Welcome to the Finance Tracker's Main Page</h2>
    </article>
</section>
<section>
    <article>
        <h2>Login</h2>
        <button type="submit">SingIn</button>
        <button type="submit">SingOut</button>
        <button type="submit">SingUp</button>
    </article>
</section>
<section>
    <article>
        <h2>About Us</h2>
        <p>
            {{about}}
        </p>
    </article>
</section>
{% endblock %}