{% extends 'base.html' %}

{% block content %}
<section>
    <article id="bio">
        <h2>Login</h2>
    </article>
</section>
<section>
    <article>

        <form action="/signin" method="post">
            {% csrf_token %}
            <label for="">Username</label>
            <input type="text" id="username" name="username" placeholder="Enter your username" Required>

            <br>
            <label for="">Password</label>
            <input type="password" id="password" name="password" placeholder="Enter your password" Required>
            
            <br>
            <button type="submit">Sign In</button>
        </form>
    </article>
</section>
{% endblock %}